th{
    font-family: cursive;
    font-family: sans-serif;
    background-color: darkgreen;
    color: chocolate 
        
}
table{
    font-family: sans-serif;
    border-collapse: collapse;
    border-width: thick;
    border-style: solid; 
    background-color: greenyellow;
}
    
}

